A:link {
	COLOR: rgb(51,204,0)
}
A:visited {
	COLOR: rgb(255,102,51)
}
A:active {
	COLOR: rgb(255,204,0)
}
BODY {
	COLOR: rgb(0,0,0); BACKGROUND-COLOR: rgb(255,255,255)
}
H1 {
	COLOR: rgb(255,102,0)
}
H2 {
	COLOR: rgb(255,102,0)
}
MARQUEE {
	COLOR: rgb(255,102,0)
}
H3 {
	COLOR: rgb(255,102,0)
}
H4 {
	COLOR: rgb(255,102,0)
}
H5 {
	COLOR: rgb(255,102,0)
}
H6 {
	COLOR: rgb(255,102,0)
}
HR {
	COLOR: rgb(255,102,0)
}
BUTTON {
	BORDER-LEFT-COLOR: rgb(255,204,0); BORDER-BOTTOM-COLOR: rgb(255,204,0); COLOR: white; BORDER-TOP-COLOR: rgb(255,204,0); BACKGROUND-COLOR: rgb(255,102,0); BORDER-RIGHT-COLOR: rgb(255,204,0)
}
LABEL {
	COLOR: rgb(0,0,0)
}
.MSTHEME-LABEL {
	COLOR: rgb(0,0,0)
}
TEXTAREA {
	BORDER-LEFT-COLOR: rgb(255,102,51); BORDER-BOTTOM-COLOR: rgb(255,102,51); COLOR: black; BORDER-TOP-COLOR: rgb(255,102,51); BORDER-RIGHT-COLOR: rgb(255,102,51)
}
FIELDSET {
	BORDER-LEFT-COLOR: rgb(255,102,51); BORDER-BOTTOM-COLOR: rgb(255,102,51); COLOR: black; BORDER-TOP-COLOR: rgb(255,102,51); BORDER-RIGHT-COLOR: rgb(255,102,51)
}
LEGEND {
	COLOR: rgb(255,102,0)
}
SELECT {
	BORDER-LEFT-COLOR: rgb(255,102,51); BORDER-BOTTOM-COLOR: rgb(255,102,51); COLOR: black; BORDER-TOP-COLOR: rgb(255,102,51); BORDER-RIGHT-COLOR: rgb(255,102,51)
}
TABLE {
	BORDER-LEFT-COLOR: rgb(255,102,51); BORDER-BOTTOM-COLOR: rgb(255,102,51); COLOR: rgb(0,0,0); BORDER-TOP-COLOR: rgb(255,102,51); BORDER-RIGHT-COLOR: rgb(255,102,51); table-border-color-light: rgb(255,204,0); table-border-color-dark: rgb(255,102,51)
}
CAPTION {
	COLOR: rgb(255,102,0)
}
TH {
	BORDER-LEFT-COLOR: rgb(255,102,51); BORDER-BOTTOM-COLOR: rgb(255,102,51); COLOR: rgb(0,0,0); BORDER-TOP-COLOR: rgb(255,102,51); BORDER-RIGHT-COLOR: rgb(255,102,51)
}
TD {
	BORDER-LEFT-COLOR: rgb(255,102,51); BORDER-BOTTOM-COLOR: rgb(255,102,51); BORDER-TOP-COLOR: rgb(255,102,51); BORDER-RIGHT-COLOR: rgb(255,102,51)
}
